$montserrat: 'Montserrat', sans-serif;
$black: #1E1D1D;

.container {
    text-align: center;
    color: white;
    font-family: $montserrat;
    text-transform: uppercase;
}

.vertical-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landing-page {
  min-height: 95vh;
  background: #1a3415;

  h2 {
    border-radius: 5px;
    font-size: 18px;
    font-weight: 100;
    background: $black;
    padding: 10px 20px;
  }
}
