footer{
  background-color: rgba(29, 29, 29, .8);
  width: 100%;
  padding: 1vh 1vw;
}

h3 {
  font-family: 'Open Sans Condensed', sans-serif;
}

img {
  padding-left: 5px;
  vertical-align: middle;
}
