.site-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    color: #282c34;
    background: linear-gradient(rgba(29, 29, 29, .9), rgba(29, 29, 29, 1)) , url("assets/images/full.png") center center;
    color: white !important;
}
