@font-face {
    font-family: 'Canterbury';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/Canterbury.ttf') format('truetype');
}

body {
    margin: 0;
    font-size: 62.5%;
    overflow-y: hidden;
    overflow-x: hidden;
}

a {
    color: white;
    text-decoration: none;
}
